@import "tailwindcss";
@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Oculta a barra de rolagem para IE e Edge */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}